html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #404040;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    color: whitesmoke;
}

.LimitedWidthMedium {
    max-width: 400px;
    width: auto;
}

.NoPadding {
    padding: 0px;
}

.InfoBox {
    background-color: #b0c0c0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.InfoText {
    background-color: #b0c0c0;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: black;
    width: 50%;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.InfoButton {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 50%;
    background-color: #b0f0d0;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    text-decoration: none;
    color: black;
}

.InfoButton:hover {
        background-color: #90d0b0;
    }

.NoStyleList {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.Title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    background-color: #8be37f;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.Subtitle {
    margin: 0px;
    color: black;
    background-color: #addba7;
    text-align: center;
    padding: 0px;
}

.SmallTitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: #8be37f;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
}

.LeagueOutline {
    max-width: 800px;
    min-width: 400px;
    background-color: #606060;
    color: #FFFFFF;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-color: #909090;
}

.League {
    background-color: #757575;
    max-width: 800px;
    min-width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #404040;
    padding: 2px;
}

.LeagueItem {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
}

.LeagueLink {
    text-decoration: none;
    color: white;
}
