@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Glicko-2's Algorithm <a href="http://www.glicko.net/glicko/glicko2.pdf">Here</a>.</p>
</div>
