@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create League";
    List<SelectListItem> PossibleGames = new List<SelectListItem>();
    PossibleGames.Add(new SelectListItem
            {
                Text = "Super Smash Brothers Ultimate",
                Value = "SSBU",
                Selected = true
            });
    PossibleGames.Add(new SelectListItem
            {
                Text = "Super Smash Brothers Melee",
                Value = "SSBM"
            });
    PossibleGames.Add(new SelectListItem
            {
                Text = "Street Fighter V",
                Value = "SFV"
            });
    PossibleGames.Add(new SelectListItem
            {
                Text = "Melty Blood",
                Value = "TouchGrass"
            });
}


<form name="CreateLeagueForm" action="/Leagues/Create" method="post">
    <div align="center">
        <label>Name of League</label>
        <input id="LeagueNameBox" name="LeagueName" type="text" placeholder="Name" />
    </div>
    <div align="center">
        <label>Game of League</label>
        @Html.DropDownList("LeagueGame", PossibleGames, new { @class = "form-control" })
    </div>
    <div align="center">
        <input id="LeagueSubmitBox" type="submit" value="Submit" />
    </div>
</form>